{% extends "base.html" %}

{% block content %}
<div class="container">
    <p style="margin-top:16px">
        Hampstead Elementary School is a diverse, multicultural community of lifelong learners. We are committed to meet
        the educational needs of all our students, with proven methods and materials that will help them achieve their
        maximum potiential in modern Quebec society.
    </p>
    <img src="/static/images/welcome-page.jpg" width="100%">
    <h3>VISION</h3>
    <p>
        Hampstead School dedicates itself to providing a safe, caring and supportive learning community in which every
        child learns and achieves to their full potential, and develops into a confident, compassionate and engaged
        global citizen.
    </p>
    <h3>Our Values</h3>
    <p>
        Respect – Integrity – Responsibility – Honesty – Compassion – Resilience – Perseverance
    </p>
    <h3>Our Mission</h3>
    <img src="/static/images/welcome-page-2.jpg" width="100%">

    <p  style="margin-top:16px"> Hampstead School is committed to building a community of lifelong learners
        through
        people and program excellence in a flexible, diverse and inclusive learning environment in and out of the
        classroom, providing students with the necessary tools and skills to become independent and expert learners,
        providing continual professional development for faculty and staff, building and fostering strong
        relationships with students, parents and the community, and fostering an appreciation for the French
        language and culture in Quebec.
    </p>

</div>
{% endblock %}